{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <main class="container child:mt-8">
        <!-- Breadcrumbs -->
        <section>
            <ul class="flex items-center gap-x-2 text-gray-400 text-sm lg:text-base">
                <li class="flex items-center gap-x-2">
                    <a href="{% url 'home:main' %}">صفحه اصلی</a>
                    <svg class="w-4 h-4">
                        <use href="#chevron-left"></use>
                    </svg>
                </li>
                <li class="flex items-center gap-x-2">
                    <a href="#">سبد خرید</a>
                </li>
            </ul>
        </section>
        <!-- shopping cart -->
        <section
                class="flex flex-col lg:flex-row items-start gap-4 child:rounded-lg child:bg-white child:dark:bg-zinc-700 child:shadow child:p-4">
            <!-- products -->
            <div class="w-full lg:w-2/3 flex flex-col gap-y-8 ">
                <!-- shopping cart header -->
                <div class="flex items-center justify-between">
                    <span class="flex items-center gap-x-2">
                        <h2 class="font-DanaMedium text-xl">سبد خرید</h2>
                    </span>
                    <span class="flex items-center gap-x-1 text-red-600 dark:text-white cursor-pointer">
                        <p class="mt-1 font-DanaMedium ">حذف همه</p>
                        <svg class="w-5 h-5">
                            <use href="#trash"></use>
                        </svg>
                    </span>
                </div>
                <div
                        class="w-full flex flex-col gap-y-4 child:p-2 lg:child:p-4 child:border-b-2 child:border-gray-200 child:dark:border-white/20 ">
                    <!-- PRODUCT ITEM -->
                    {% for item in cart %}
                        <div class="w-full flex justify-between relative">
                            <div class="flex flex-col sm:flex-row items-center gap-6">
                                <!-- IMG AND COUNT BTN -->
                                <div class="flex w-fit flex-col">
                                    <img src="{{ item.product.image.url }}" class="w-36" alt="">
                                    <button
                                            class="flex items-center justify-between gap-x-1 rounded-lg border border-gray-200 dark:border-white/20 py-1 px-2">
                                        <svg class="w-4 h-4 increment text-green-600">
                                            <use href="#plus"></use>
                                        </svg>
                                        <input type="number" name="customInput" id="customInput" min="1" max="20"
                                               value="1"
                                               class="custom-input mr-8 text-lg bg-transparent">
                                        <svg class="w-4 h-4 decrement text-red-500">
                                            <use href="#minus"></use>
                                        </svg>
                                    </button>
                                </div>
                                <!-- information and name product -->
                                <div class="flex flex-col gap-y-2">
                                    <h2 class="font-DanaMedium">
                                        {{ item.product.name }}
                                    </h2>
                                    <ul
                                            class="space-y-3 child:text-sm text-gray-400 child:flex child:items-center child:gap-x-1">
                                        <li>
                                            <svg class="w-5 h-5">
                                                <use href="#box"></use>
                                            </svg>
                                            <p class="mt-1">وزن : 200 گرم</p>
                                        </li>
                                        <li>
                                            <svg class="w-5 h-5">
                                                <use href="#truke"></use>
                                            </svg>
                                            <p class="mt-1">ارسال پست پیشتاز</p>
                                        </li>
                                        <li class="text-green-500">
                                            <svg class="w-5 h-5">
                                                <use href="#check-badge"></use>
                                            </svg>
                                            <p class="mt-1"> تضمین کیفیت</p>
                                        </li>
                                    </ul>
                                    {% if item.product.discount_price %}
                                        <span class="flex items-center gap-x-1 text-green-500 mt-4">
                                        <p class="font-DanaMedium text-xl">{{ item.product.discount_price }}</p>
                                        <p class="text-lg">تومان</p>
                                        </span>
                                    {% else %}
                                        <span class="flex items-center gap-x-1 text-green-500 mt-4">
                                    <p class="font-DanaMedium text-xl">{{ item.product.price }}</p>
                                    <p class="text-lg">تومان</p>
                                        </span>
                                    {% endif %}
                                    <span
                                            class="absolute bottom-3 left-0 text-blue-500 flex sm:hidden items-center gap-x-1 text-sm cursor-pointer">
                                    <p class="hidden sm:flex">افزودن به خرید بعدی</p>
                                    <p class="flex sm:hidden">خرید بعدی</p>
                                    <svg class="w-4 h-4">
                                        <use href="#chevron-left"></use>
                                    </svg>
                                </span>
                                    <svg class=" flex sm:hidden absolute top-0 left-0 w-5 h-5">
                                        <use href="#close"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="hidden sm:flex items-end justify-between flex-col">
                                <svg class="w-5 h-5 cursor-pointer">
                                    <use href="#close"></use>
                                </svg>
                                <span
                                        class="text-blue-500 hover:ml-2 duration-300 transition-all flex items-center gap-x-1 text-sm cursor-pointer">
                                <p class="hidden md:flex">افزودن به خرید بعدی</p>
                                <p class="flex md:hidden">خرید بعدی</p>
                                <svg class="w-4 h-4">
                                    <use href="#chevron-left"></use>
                                </svg>
                            </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Empty shopping cart -->
            <div class="w-full lg:w-2/3 h-80 items-center flex-col justify-center gap-y-4 hidden">
                <h2 class="font-DanaMedium text-xl lg:text-2xl">سبد خرید شما خالی میباشد!</h2>
                <svg class="lg:w-16 w-10 h-10 lg:h-16">
                    <use href="#shopping-cart"></use>
                </svg>
                <a href="shop.html" class="main-btn bg-blue-500 hover:bg-blue-600 py-2 font-DanaMedium px-20">
                    برو به فروشگاه
                    <svg class="w-5 h-5">
                        <use href="#chevron-left"></use>
                    </svg>

                </a>
            </div>
            <!-- PRICE BOX -->
            <div class="w-full lg:w-1/3 lg:sticky top-5 flex flex-col gap-y-4">
                <!-- PRICE -->
                <ul class="child:flex child:items-center child:justify-between space-y-8">
                    <li>
                        <p>جمع مبلغ سفارش :</p>
                        <p class="font-DanaMedium text-green-500">2,400,000 تومان</p>
                    </li>
                    <li>
                        <p>تخفیف :</p>
                        <p class="font-DanaMedium text-red-600 dark:text-gray-200">220,000 تومان </p>
                    </li>
                    <li class="border-t-2 border-dashed border-gray-400 pt-8">
                        <p> مبلغ قابل پرداخت :</p>
                        <p>2,200,000 تومان</p>
                    </li>
                </ul>

                <a href="payment.html"
                   class="w-full mt-4 flex items-center gap-x-1 justify-center bg-green-500 text-white hover:bg-green-600 transition-all rounded-lg shadow py-2">
                    نهایی کردن خرید
                    <svg class="w-5 h-5">
                        <use href="#shopping-bag"></use>
                    </svg>
                </a>

            </div>
        </section>
    </main>
{% endblock %}