{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: 'Vazir', sans-serif;
        }

        .background-image {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("{% static 'Images/bg_ten_coffee.png' %}") no-repeat center center;
            background-size: cover;
            z-index: -2;
        }

        .background-blur {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(5px);
            z-index: -1;
        }

        .contact-form-wrapper {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .glass-form {
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(10px);
            border-radius: 20px;
            padding: 40px;
            width: 100%;
            max-width: 500px;
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
            color: #fff;
            text-align: center;
        }

        .glass-form h2 {
            margin-bottom: 30px;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .glass-form input,
        .glass-form textarea {
            width: 100%;
            padding: 12px 16px;
            margin-bottom: 20px;
            border: none;
            border-radius: 12px;
            background-color: rgba(255, 255, 255, 0.7);
            font-size: 1rem;
            color: #000;
        }

        .glass-form button {
            width: 100%;
            padding: 12px;
            background-color: #007bff;
            border: none;
            border-radius: 12px;
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        .glass-form button:hover {
            background-color: #0056b3;
        }

        ::placeholder {
            color: #555;
        }


        .auth-message {
            text-align: center;
            margin-top: 50px;
            font-family: 'Vazir', sans-serif;
            color: #fff;
            font-size: 1.2rem;
            margin-bottom: 20px;
        }

        .auth-links-wrapper {
            text-align: center;
        }

        .auth-link {
            display: inline-block;
            padding: 12px 30px;
            margin: 10px;
            border-radius: 25px;
            font-weight: bold;
            text-decoration: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s ease;
            color: white;
            cursor: pointer;
        }

        .auth-link.login {
            background-color: #007bff;
            box-shadow: 0 4px 8px rgba(0, 123, 255, 0.4);
        }

        .auth-link.login:hover {
            background-color: #0056b3;
        }

        .auth-link.register {
            background-color: #28a745;
            box-shadow: 0 4px 8px rgba(40, 167, 69, 0.4);
        }

        .auth-link.register:hover {
            background-color: #1e7e34;
        }
    </style>
    <main class="container child:mt-8">

        <!-- Breadcrumbs -->
        <section>
            <ul class="flex items-center gap-x-2 text-gray-400 text-sm lg:text-base">
                <li class="flex items-center gap-x-2">
                    <a href="{% url 'home:main' %}">صفحه اصلی</a>
                    <svg class="w-4 h-4">
                        <use href="#chevron-left"></use>
                    </svg>
                </li>
                <li class="flex items-center gap-x-2">
                    <a href="#">سبد خرید</a>
                </li>
            </ul>
        </section>

        <!-- shopping cart -->
        <section
                class="flex flex-col lg:flex-row items-start gap-4 child:rounded-lg child:bg-white child:dark:bg-zinc-700 child:shadow child:p-4">
            {% if cart|length > 0 %}
                <!-- products -->
                <div class="w-full lg:w-2/3 flex flex-col gap-y-8">

                    <!-- shopping cart header -->
                    <div class="flex items-center justify-between">
                        <h2 class="font-DanaMedium text-xl">سبد خرید</h2>
                        <span class="flex items-center gap-x-1 text-red-600 dark:text-white cursor-pointer">
                    <p class="mt-1 font-DanaMedium">حذف همه</p>
                    <svg class="w-5 h-5">
                        <use href="#trash"></use>
                    </svg>
                </span>
                    </div>

                    <div class="w-full flex flex-col gap-y-4 child:p-2 lg:child:p-4 child:border-b-2 child:border-gray-200 child:dark:border-white/20">

                        {% for item in cart %}
                            <!-- فرم هر محصول برای آپدیت تعداد -->
                            <form method="post" action="{% url 'Cart:cart_update' item.product.id %}">
                                {% csrf_token %}
                                <div class="w-full flex justify-between items-center relative">

                                    <!-- تصویر و تعداد -->
                                    <div class="flex flex-col sm:flex-row items-center gap-6">
                                        <img src="{{ item.product.image.url }}" class="w-36"
                                             alt="{{ item.product.name }}">

                                        <div class="flex items-center justify-between bg-gray-100 dark:bg-zinc-800 rounded-lg w-44 h-12">
                                            <button type="button" id="decrement"
                                                    class="w-10 h-full flex items-center justify-center text-red-500 text-2xl font-bold">
                                                -
                                            </button>
                                            <input type="text" id="quantityInput" name="quantity"
                                                   value="{{ item.quantity }}" min="1" max="20"
                                                   class="w-12 text-center bg-transparent focus:outline-none text-lg dark:text-white">
                                            <button type="button" id="increment"
                                                    class="w-10 h-full flex items-center justify-center text-green-500 text-2xl font-bold">
                                                +
                                            </button>
                                        </div>

                                        <div class="flex flex-col gap-y-2">
                                            <a href="{% url 'products:detail_products' item.product.slug %}"><h2
                                                    class="font-DanaMedium">{{ item.product.name }}</h2></a>

                                            <!-- قیمت محصول -->
                                            <div class="mt-2 flex items-center gap-x-2 text-green-500">
                                                <p class="font-DanaMedium text-xl">{{ item.product.get_discount_price|floatformat:0|intcomma:False }}</p>
                                                <p class="text-lg">تومان</p>
                                            </div>

                                            {% if item.product.discount_percent > 0 %}
                                                <div class="flex items-center gap-x-2 text-gray-400 line-through">
                                                    <p class="font-DanaMedium text-lg">{{ item.product.price|floatformat:0|intcomma:False }}</p>
                                                    <p class="text-sm">تومان</p>
                                                </div>
                                            {% endif %}

                                        </div>
                                    </div>

                                    <!-- حذف محصول -->
                                    <div class="flex items-end">
                                        <a href="{% url 'Cart:cart_remove' item.id %}" class="text-red-500">
                                            <svg class="w-5 h-5 cursor-pointer">
                                                <use href="#close"></use>
                                            </svg>
                                        </a>
                                    </div>

                                </div>
                            </form>
                        {% endfor %}

                    </div>
                </div>
                <!-- PRICE BOX -->
                <div class="w-full lg:w-1/3 lg:sticky top-5 flex flex-col gap-y-4">
                    <ul class="child:flex child:items-center child:justify-between space-y-8">
                        <li>
                            <p>جمع مبلغ سفارش :</p>
                            <p class="font-DanaMedium text-green-500">{{ cart.total|floatformat:0|intcomma:False }}</p>
                        </li>
                        <li>
                            <p>تخفیف :</p>
                            <p class="font-DanaMedium text-red-600 dark:text-gray-200">220,000 تومان</p>
                        </li>
                        <li class="border-t-2 border-dashed border-gray-400 pt-8">
                            <p>مبلغ قابل پرداخت :</p>
                            <p>{{ cart.total|floatformat:0|intcomma:False }} تومان</p>
                        </li>
                    </ul>

                    <a href="{% url 'Cart:cart_order_detail' %}"
                       class="w-full mt-4 flex items-center gap-x-1 justify-center bg-green-500 text-white hover:bg-green-600 transition-all rounded-lg shadow py-2">
                        نهایی کردن خرید
                        <svg class="w-5 h-5">
                            <use href="#shopping-bag"></use>
                        </svg>
                    </a>
                </div>
            {% else %}
                <!-- Empty shopping cart -->
                <div class="w-full flex flex-col items-center justify-center gap-y-6 text-center h-80">
                    <h2 class="font-DanaMedium text-xl lg:text-2xl">سبد خرید شما خالی میباشد!</h2>
                    <svg class="lg:w-16 w-10 h-10 lg:h-16 text-gray-400">
                        <use href="#shopping-cart"></use>
                    </svg>
                    <div class="auth-links-wrapper">
                        <a href="{% url 'products:shop' %}" class="auth-link login">
                            برو یه فروشگاه
                        </a>
                    </div>
                </div>
            {% endif %}
        </section>
    </main>

{% endblock %}
{% block script %}
    <script>
        document.querySelectorAll('#decrement').forEach((btn) => {
            btn.addEventListener('click', () => {
                let input = btn.parentElement.querySelector('#quantityInput');
                let qty = parseInt(input.value) || 1;
                if (qty > 1) qty--;
                input.value = qty;
                btn.closest("form").submit();
            });
        });

        document.querySelectorAll('#increment').forEach((btn) => {
            btn.addEventListener('click', () => {
                let input = btn.parentElement.querySelector('#quantityInput');
                let qty = parseInt(input.value) || 1;
                if (qty < 20) qty++;
                input.value = qty;
                btn.closest("form").submit();
            });
        });

    </script>



{% endblock %}