{% load static %}

<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>کافئین</title>
</head>

<body>
<footer class="relative mt-14 lg:mt-32 text-gray-300 bg-zinc-800 pt-8">

    <div class="container">
        <!-- EMAIL BOX -->
        <div class="mb-12 flex border-b pb-8 border-white/10 flex-col-reverse sm:flex-row gap-y-5 items-center sm:items-end justify-between">
            <!-- GO TO TOP BTN -->
            <a href="#"
               class="flex items-center gap-x-2 text-sm p-2 cursor-pointer rounded-lg border-2 border-gray-200">
                بازگشت به بالا
                <svg class="w-5 h-5 rotate-180">
                    <use href="#arrow-down-circle"></use>
                </svg>
            </a>
        </div>

        <div class="flex mt-8 items-center justify-between flex-col lg:flex-row gap-y-10 lg:gap-x-20 flex-wrap">
            <div class="flex flex-col gap-y-2 w-full lg:w-[30%]">
                <!-- LOGO -->
                <a href="{% url 'home:main' %}" class="text-green-500 transition-colors w-fit block">
{#                    <p class="font-MorabbaBold text-3xl">کافی تِن</p>#}
{#                    <p class="tracking-tighter">حس نو با قهوه...</p>#}
                    <img src="{% static 'Images/FLOG.png' %}">
                </a>
                <!-- ABOUTE -->
                <p class="leading-8">
                    در فروشگاه آنلاین ما، بهترین دانه‌های قهوه از سراسر جهان را با
                    کیفیت بالا و طعمی بی‌نظیر برای شما فراهم آورده‌ایم. با انتخاب
                    محصولات ما، لذت یک فنجان قهوه عالی را در خانه تجربه کنید.
                </p>
            </div>

            <div class="flex flex-col gap-y-2 w-full lg:w-auto">
                <h2 class="font-DanaDemiBold text-lg mb-3">- دسترسی سریع</h2>
                <div class="flex gap-x-10 child:space-y-2">
                    <ul class="child-hover:text-green-500 child:transition-all">
                        <li>
                            <a href="{% url 'home:main' %}">صفحه اصلی</a>
                        </li>
                        <li>
                            <a href="{% url 'products:shop' %}">فروشگاه</a>
                        </li>
                        <li>
{#                            <a href="{% url 'account:contact_us' %}">تماس با ما </a>#}
                        </li>
                    </ul>
                    <ul class="child-hover:text-green-500 child:transition-colors">
                    </ul>
                </div>
            </div>

            <div class="flex flex-col gap-y-5 w-full lg:w-auto">
                <h2 class="font-DanaDemiBold text-lg">- تماس با ما</h2>
                <div class="flex items-center gap-x-1 lg:gap-x-2 hover:text-green-500 transition-colors cursor-pointer">
                    <svg class="w-5 h-5">
                        <use href="#map"></use>
                    </svg>
                    <p class="line-clamp-1">
                        <a href="https://maps.app.goo.gl/bgv1frewVGGo7aFD7">خراسان رضوی , مشهد , خیابان دستغیب ,نبش دستغیب 10</a>

                    </p>
                </div>

                <div class="flex lg:items-center flex-col gap-y-2 lg:flex-row gap-x-5 child:cursor-pointer child-hover:text-green-500 child:transition-colors">
                        <span class="flex items-start gap-x-2">
                            <svg class="w-5 h-5">
                                <use href="#envelope"></use>
                            </svg>
                            <p>CoffeeTenMSH@info.com</p>
                        </span>

                    <span class="flex items-start gap-x-2">
                            <svg class="w-5 h-5">
                                <use href="#phone"></use>
                            </svg>
                            <p>0915-693-9353</p>
                            <p class="mr-2">0935-982-3315</p>
                        </span>
                </div>

                <div class="flex items-start justify-start gap-x-10">
                    <button class="flex items-center gap-x-2">
                        <p dir="ltr">@10_takeaway</p>
                        <img src="{% static 'Images/svg/instagram.png' %}" class="w-6 h-6" alt="instagram"/>
                    </button>
                    <button class="flex items-center gap-x-2">
                        <p dir="ltr">@10_takeaway</p>
                        <img src="{% static 'Images/svg/telegram.png' %}" class="w-6 h-6" alt="telegram"/>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- COPY RIGTH -->
    <div class="bg-zinc-900">
        <div class="container mt-12 py-2 flex flex-col lg:flex-row gap-y-2 lg:items-center lg:justify-between">
            <p class="text-sm lg:text-base">
                تمام حقوق این سایت متعلق به
                <a href="index.html" class="text-green-500 font-DanaMedium">کافی تِن</a>
                میباشد
            </p>
            <p class="text-sm">Copyright © 2025 Ten_Coffee. All rights reserved.</p>
        </div>
    </div>
</footer>
</body>

</html>
