{% load static %}
<body class="font-Dana bg-[#f3f4f6] text-zinc-900 dark:bg-zinc-900 dark:text-white overflow-x-hidden transition-all">

<!-- آیکون‌های SVG -->
<svg class="hidden">
    <!-- تمام آیکون‌های قبلی -->
    <symbol id="arrow-down-circle" viewBox="0 0 24 24" stroke-width="1.5">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="m9 12.75 3 3m0 0 3-3m-3 3v-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
    </symbol>

</svg>

<!-- نوار ناوبری اصلی -->
<header class="sticky top-0 z-40">
    <!-- نوار ناوبری دسکتاپ -->
    <nav class="w-full hidden md:flex shadow py-5 bg-white dark:bg-zinc-700">
        <div class="container flex items-center justify-between">
            <!-- لوگو -->
            <a href="###"
               class="flex items-center gap-x-1 dark:text-brown-300 text-brown-600 font-MorabbaMedium text-xl lg:text-3xl">
                <img src="{% static 'images/logo.png' %}" alt="Coffee Ten Logo" class="w-6 h-6"/>
                <h1>کافی تِن</h1>
            </a>

            <!-- منوی اصلی -->
            <ul class="mt-2 flex items-center gap-x-4 lg:gap-x-10 font-DanaMedium lg:mr-30 xl:mr-32 child:z-30">
                <li class="nav-item text-green-500">
                    <a href="###">صفحه اصلی</a>
                </li>

                <!-- آیتم فروشگاه با زیرمنو -->
                <li class="relative group">
                    <div class="flex items-center flex-row gap-x-1">
                        <a href="###">فروشگاه</a>
                        <svg class="w-4 h-4 transition-transform duration-300 group-hover:rotate-180">
                            <use href="#chevron-down"></use>
                        </svg>
                    </div>
                    <!-- زیرمنو -->
                    <div class="absolute bg-white flex flex-col gap-y-4 opacity-0 invisible group-hover:opacity-100 group-hover:visible group-hover:top-10 transition-all delay-100 dark:bg-zinc-700 top-20 w-52 rounded border-t-2 border-green-500 p-5 text-base shadow-md child-hover:text-green-500 child:transition-all">
                        <a href="###?category=espresso">اسپرسو</a>
                        <a href="###?category=turkish">قهوه ترک</a>
                        <a href="###?category=french">قهوه فرانسه</a>
                        <a href="###?category=capsules">کپسول اسپرسو</a>
                        <a href="###?category=equipment">لوازم و تجهیزات</a>
                    </div>
                </li>

                <!-- آیتم مقالات با زیرمنو -->
                <li class="relative group">
                    <div class="flex items-center flex-row gap-x-1">
                        <a href="###">مقالات</a>
                        <svg class="w-4 h-4 transition-transform duration-300 group-hover:rotate-180">
                            <use href="#chevron-down"></use>
                        </svg>
                    </div>
                    <!-- زیرمنو -->
                    <div class="absolute bg-white flex flex-col gap-y-4 opacity-0 invisible group-hover:opacity-100 group-hover:visible group-hover:top-10 transition-all delay-100 dark:bg-zinc-700 top-20 w-52 rounded border-t-2 border-green-500 p-5 text-base shadow-md child-hover:text-green-500 child:transition-all">
                        <a href="###?category=health">سلامتی</a>
                        <a href="###?category=news">اخبار قهوه</a>
                        <a href="###?category=brewing">روش‌های دم‌آوری قهوه</a>
                        <a href="###?category=equipment">لوازم و تجهیزات قهوه</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a href="###">تماس با ما</a>
                </li>
                <li class="nav-item">
                    <a href="#">درباره ما</a>
                </li>
            </ul>

            <!-- دکمه‌های اقدام -->
            <div class="flex items-center gap-x-3 child:z-30">
                <!-- دکمه تغییر تم -->
                <button class="toggle-theme">
                    <svg class="inline-block dark:hidden w-6 h-6">
                        <use href="#moon"/>
                    </svg>
                    <svg class="hidden dark:inline w-6 h-6">
                        <use href="#sun"/>
                    </svg>
                </button>

                <!-- دکمه سبد خرید -->
                <button class="open-shopping-cart__btn relative">
                    <svg class="w-6 h-6">
                        <use href="#shopping-cart"/>
                    </svg>
                    <!-- نشانگر تعداد -->
                    <span class="absolute -top-2 -right-2 w-4 h-4 text-[10px] flex items-center justify-center bg-red-500 text-white rounded-full">2</span>
                </button>

                <!-- دکمه جستجو -->
                <button class="group relative flex justify-end">
                    <svg class="w-6 h-6">
                        <use href="#search"/>
                    </svg>
                    <div class="absolute top-20 flex items-center w-[350px] bg-white dark:bg-zinc-600 rounded-full opacity-0 invisible group-hover:opacity-100 group-hover:visible group-hover:top-10 transition-all delay-100 child:rounded-full px-2 border dark:border-none border-gray-100 shadow py-1">
                        <input type="text" placeholder="نام محصول..." class="bg-transparent w-full p-2"/>
                        <a href="#" class="bg-green-500 text-white text-sm py-2 px-3">جستجو</a>
                    </div>
                </button>

                <!-- بخش حساب کاربری -->
                {% if request.user.is_authenticated %}
                    <button class="group relative px-2 lg:px-3 py-2 flex items-center justify-end gap-x-1 text-white transition-colors bg-green-500 hover:bg-green-600 rounded-lg">
                        <svg class="h-5 w-5 hidden lg:flex">
                            <use href="#user"></use>
                        </svg>
                        <a href="##"> حساب کاربری</a>
                        <!-- زیرمنو -->
                        <div class="absolute dark:border-none border border-gray-100 w-52 p-4 bg-white text-zinc-900 dark:text-white flex flex-col gap-y-3 opacity-0 invisible group-hover:opacity-100 group-hover:visible group-hover:top-12 transition-all delay-100 dark:bg-zinc-800 top-20 rounded text-base shadow child:transition-all child:py-1 child:px-2">
                            <a href="##"
                               class="flex items-center gap-x-3 w-full hover:bg-green-500/20 hover:text-green-500 rounded">
                                <svg class="h-5 w-5">
                                    <use href="#user"></use>
                                </svg>
                                سفارشات من
                            </a>
                            <a href="##"
                               class="flex items-center gap-x-3 w-full hover:bg-green-500/20 hover:text-green-500 rounded">
                                <svg class="h-5 w-5">
                                    <use href="#envelope"></use>
                                </svg>
                                لیست پیام ها
                            </a>
                            <a href="##"
                               class="flex items-center gap-x-3 w-full hover:bg-green-500/20 hover:text-green-500 rounded">
                                <svg class="h-5 w-5">
                                    <use href="#cog"></use>
                                </svg>
                                اطلاعات کاربری
                            </a>
                            <!-- جداکننده -->
                            <span class="border-t dark:border-gray-100/20 border-gray-100-gray-100"></span>
                            <a href="{% url 'account:logout' %}"
                               class="flex items-center gap-x-3 w-full hover:bg-red-400/20 dark:hover:bg-rose-500/20 rounded hover:text-rose-400">
                                <svg class="h-5 w-5">
                                    <use href="#arrow-left-start-on-rectangle"></use>
                                </svg>
                                خروج از حساب
                            </a>
                        </div>
                    </button>
                {% else %}
                    <!-- دکمه ورود برای کاربران غیرعضو -->
                    <a href="{% url 'account:login' %}"
                       class="px-2 lg:px-3 py-2 flex items-center justify-end gap-x-1 text-white transition-colors bg-green-500 hover:bg-green-600 rounded-lg">
                        <svg class="h-5 w-5 rotate-180">
                            <use href="#arrow-left-start-on-rectangle"></use>
                        </svg>
                        ورود | ثبت نام
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- نوار ناوبری موبایل -->
    <nav class="md:hidden dark:bg-zinc-800 bg-white flex justify-between items-center h-16 shadow-md py-5 px-4">
        <div>
            <svg class="w-6 h-6 mobile-menu__open-icon cursor-pointer">
                <use href="#bars"></use>
            </svg>
        </div>

        <a href="#" class="flex items-center gap-x-1 dark:text-brown-300 text-brown-600 font-MorabbaMedium text-xl">
            <img src="{% static 'images/logo.png' %}" alt="Coffee Ten Logo" class="w-6 h-6"/>
            <h1>CoFFee Ten</h1>
        </a>

        <button class="open-shopping-cart__btn relative">
            <svg class="w-6 h-6">
                <use href="#shopping-cart"/>
            </svg>
            <span class="absolute -top-2 -right-2 w-4 h-4 text-[10px] flex items-center justify-center bg-red-500 text-white rounded-full">2</span>
        </button>
    </nav>

    <!-- منوی موبایل (سایدبار) -->
    <div class="mobile-menu fixed -right-64 top-0 bottom-0 w-64 bg-white dark:bg-zinc-700 z-50 shadow transition-all duration-300 px-4 hidden">
        <!-- هدر -->
        <div class="mt-3 flex items-center justify-between">
            <a href="#" class="flex items-center gap-x-1 dark:text-brown-300 text-brown-600 font-MorabbaMedium text-xl">
                <img src="{% static 'images/logo.png' %}" alt="Coffee Ten Logo" class="w-6 h-6"/>
                <h1>CoFFee Ten</h1>
            </a>
            <svg class="mobile-menu__close-icon w-6 h-6 cursor-pointer">
                <use href="#close"></use>
            </svg>
        </div>

        <!-- جداکننده -->
        <span class="flex w-full border-t dark:border-white/10 border-gray-200 my-5"></span>

        <!-- نوار جستجو -->
        <form action="#" method="get" class="mb-3">
            <input type="text" name="q" placeholder="جستجو..."
                   class="dark:bg-zinc-600 dark:text-white bg-gray-200 text-zinc-900 rounded w-full pr-4 py-1.5"/>
        </form>

        <!-- منوی موبایل -->
        <ul class="flex flex-col gap-y-6 text-zinc-700 dark:text-white">
            <li>
                <a href="#" class="flex items-center gap-x-2">
                    <svg class="w-5 h-5">
                        <use href="#home"></use>
                    </svg>
                    صفحه اصلی
                </a>
            </li>

            <li class="">
                <div class="flex items-center justify-between">
                    <a href="#" class="flex items-center gap-x-2">
                        <svg class="w-5 h-5">
                            <use href="#shopping-bag"></use>
                        </svg>
                        فروشگاه
                    </a>
                    <svg class="w-4 h-4 mobile-submenu__toggle cursor-pointer">
                        <use href="#chevron-down"></use>
                    </svg>
                </div>
                <!-- زیرمنوی فروشگاه -->
                <ul class="mobile-submenu hidden flex flex-col gap-y-3 pr-8 mt-3 text-sm">
                    <li><a href="#?category=espresso">اسپرسو</a></li>
                    <li><a href="#?category=turkish">قهوه ترک</a></li>
                    <li><a href="#?category=french">قهوه فرانسه</a></li>
                    <li><a href="#?category=capsules">کپسول اسپرسو</a></li>
                    <li><a href="#?category=equipment">لوازم و تجهیزات</a></li>
                </ul>
            </li>

            <li class="">
                <div class="flex items-center justify-between">
                    <a href="#" class="flex items-center gap-x-2">
                        <svg class="w-5 h-5">
                            <use href="#document"></use>
                        </svg>
                        مقالات
                    </a>
                    <svg class="w-4 h-4 mobile-submenu__toggle cursor-pointer">
                        <use href="#chevron-down"></use>
                    </svg>
                </div>
                <!-- زیرمنوی مقالات -->
                <ul class="mobile-submenu hidden flex flex-col gap-y-3 pr-8 mt-3 text-sm">
                    <li><a href="#?category=health">سلامتی</a></li>
                    <li><a href="#?category=news">اخبار قهوه</a></li>
                    <li><a href="#?category=brewing">روش‌های دم‌آوری قهوه</a></li>
                    <li><a href="#?category=equipment">لوازم و تجهیزات قهوه</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="flex items-center gap-x-2">
                    <svg class="w-5 h-5">
                        <use href="#phone"></use>
                    </svg>
                    تماس با ما
                </a>
            </li>

            <li>
                <a href="#" class="flex items-center gap-x-2">
                    <svg class="w-5 h-5">
                        <use href="#map"></use>
                    </svg>
                    درباره ما
                </a>
            </li>

            <!-- بخش حساب کاربری -->
            {% if user.is_authenticated %}
                <li class="mt-4">
                    <a href="#" class="flex items-center gap-x-2 text-green-500">
                        <svg class="w-5 h-5">
                            <use href="#user"></use>
                        </svg>
                        حساب کاربری
                    </a>
                    <!-- زیرمنوی حساب کاربری -->
                    <ul class="flex flex-col gap-y-3 pr-8 mt-3 text-sm">
                        <li><a href="#" class="flex items-center gap-x-2">
                            <svg class="w-4 h-4">
                                <use href="#shopping-bag"></use>
                            </svg>
                            سفارشات من
                        </a></li>
                        <li><a href="#" class="flex items-center gap-x-2">
                            <svg class="w-4 h-4">
                                <use href="#envelope"></use>
                            </svg>
                            پیام‌ها
                        </a></li>
                        <li><a href="#" class="flex items-center gap-x-2">
                            <svg class="w-4 h-4">
                                <use href="#cog"></use>
                            </svg>
                            تنظیمات حساب
                        </a></li>
                        <li class="mt-2">
                            <a href="{% url 'account:logout' %}" class="flex items-center gap-x-2 text-rose-500">
                                <svg class="w-4 h-4">
                                    <use href="#arrow-left-start-on-rectangle"></use>
                                </svg>
                                خروج از حساب
                            </a>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li class="mt-4">
                    <a href="{% url 'account:login' %}" class="flex items-center gap-x-2 text-green-500">
                        <svg class="w-5 h-5 rotate-180">
                            <use href="#arrow-left-start-on-rectangle"></use>
                        </svg>
                        ورود / ثبت‌نام
                    </a>
                </li>
            {% endif %}

            <!-- دکمه تغییر تم -->
            <li class="mt-4">
                <button class="toggle-theme flex items-center gap-x-2">
                    <svg class="inline-block dark:hidden w-5 h-5">
                        <use href="#moon"></use>
                    </svg>
                    <svg class="hidden dark:inline w-5 h-5">
                        <use href="#sun"></use>
                    </svg>
                    تغییر تم
                </button>
            </li>
        </ul>
    </div>
</header>

