{% extends "base.html" %}

{% block content %}
    <style>
        .about-section {
            background-color: #1f1f1f;
            color: white;
            padding: 30px;
            border-radius: 16px;
            max-width: 800px;
            margin: 50px auto;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
            line-height: 2;
        }

        .about-block {
            margin-bottom: 30px;
        }

        .section-title {
            color: #e89565; /* نارنجی */
            font-weight: bold;
            margin-bottom: 10px;
            font-size: 20px;
        }

        .highlight {
            color: #22c55e; /* سبز */
            font-weight: bold;
        }

    </style>

    <div class="about-section">
        <div class="about-block">
            <h2 class="section-title">چیست کافیتن؟</h2>
            <p>
                <span class="highlight">کافیتن</span>
                یک فروشگاه آنلاین تخصصی برای دوست‌داران قهوه است. هدف ما ارائه تجربه‌ای حرفه‌ای، ساده و زیبا برای خرید
                انواع دستگاه‌ها و لوازم قهوه‌ساز خانگی و فروشگاهی است.
            </p>
        </div>

        <div class="about-block">
            <h2 class="section-title">چرا کافیتن؟</h2>
            <p>
                فرقی نمی‌کند طرفدار طعم‌های ملایم باشید یا عاشق عطر و مزه‌های قوی‌تر؛ در وبسایت قهوه دلکینی برای همه
                سلیقه‌ها، گزینه‌ای ایده‌آل پیدا خواهد شد. ما با دقت و وسواس، دانه‌های قهوه را در دو درجه برشته‌کاری
                محبوب، مدیوم رست و مدیوم دارک رست، ارائه کرده‌ایم. این تنوع به شما امکان می‌دهد که قهوه‌ای با طعم و عطر
                دلخواه خود را پیدا کنید و از نوشیدن آن لذت ببرید.
            </p>
        </div>

        <div class="about-block">
            <h2 class="section-title">کافی تن کجاست؟</h2>
            <p>
                بلوار آزادی، خیابان استاد معین، کوچه گلستان، پلاک ۱۰
            </p>
        </div>
    </div>
{% endblock %}
