{% extends 'base.html' %}
{% load static %}]
{% load humanize %}
{% block title %}
    {{ detail_pro.name }}
{% endblock %}
{% block content %}
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: 'Vazir', sans-serif;
        }

        .background-image {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("{% static 'Images/bg_ten_coffee.png' %}") no-repeat center center;
            background-size: cover;
            z-index: -2;
        }

        .background-blur {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(5px);
            z-index: -1;
        }

        .contact-form-wrapper {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .glass-form {
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(10px);
            border-radius: 20px;
            padding: 40px;
            width: 100%;
            max-width: 500px;
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
            color: #fff;
            text-align: center;
        }

        .glass-form h2 {
            margin-bottom: 30px;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .glass-form input,
        .glass-form textarea {
            width: 100%;
            padding: 12px 16px;
            margin-bottom: 20px;
            border: none;
            border-radius: 12px;
            background-color: rgba(255, 255, 255, 0.7);
            font-size: 1rem;
            color: #000;
        }

        .glass-form button {
            width: 100%;
            padding: 12px;
            background-color: #007bff;
            border: none;
            border-radius: 12px;
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        .glass-form button:hover {
            background-color: #0056b3;
        }

        ::placeholder {
            color: #555;
        }


        .auth-message {
            text-align: center;
            margin-top: 50px;
            font-family: 'Vazir', sans-serif;
            color: #fff;
            font-size: 1.2rem;
            margin-bottom: 20px;
        }

        .auth-links-wrapper {
            text-align: center;
        }

        .auth-link {
            display: inline-block;
            padding: 12px 30px;
            margin: 10px;
            border-radius: 25px;
            font-weight: bold;
            text-decoration: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s ease;
            color: white;
            cursor: pointer;
        }

        .auth-link.login {
            background-color: #007bff;
            box-shadow: 0 4px 8px rgba(0, 123, 255, 0.4);
        }

        .auth-link.login:hover {
            background-color: #0056b3;
        }

        .auth-link.register {
            background-color: #28a745;
            box-shadow: 0 4px 8px rgba(40, 167, 69, 0.4);
        }

        .auth-link.register:hover {
            background-color: #1e7e34;
        }

        {#_________________________________ Send Button _________________________________#}
        .send-button {
            font-family: inherit;
            font-size: 16px;
            background: #048ba1;
            color: white;
            padding: 0.7em 1em;
            padding-right: 0.9em;
            display: flex;
            align-items: center;
            border: none;
            border-radius: 16px;
            overflow: hidden;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            direction: rtl;
        }

        .send-button span {
            display: block;
            margin-right: 0.3em;
            transition: all 0.3s ease-in-out;
        }

        .send-button svg {
            display: block;
            transform-origin: center center;
            transition: transform 0.3s ease-in-out;
        }

        .send-button .svg-wrapper {
            display: flex;
            animation: none;
            transition: all 0.3s ease-in-out;
        }

        /* وقتی ماوس روی دکمه بره: */
        .send-button:hover .svg-wrapper {
            animation: fly-rtl 0.6s ease-in-out infinite alternate;
        }

        .send-button:hover svg {
            transform: translateX(-1.2em) rotate(45deg) scale(1.1);
        }

        .send-button:hover span {
            transform: translateX(-5em);
            opacity: 0;
        }

        .send-button:active {
            transform: scale(0.95);
        }

        /* انیمیشن بالا-پایین برای svg */
        @keyframes fly-rtl {
            from {
                transform: translateY(0.1em);
            }
            to {
                transform: translateY(-0.2em);
            }
        }

    </style>
    <main class="container child:mt-8">
        <!-- Breadcrumbs -->
        <section>
            <ul class="flex items-center gap-x-2 text-gray-400 text-sm lg:text-base">
                <li class="flex items-center gap-x-2">
                    <a href="{% url 'home:main' %}">صفحه اصلی</a>
                    <svg class="w-4 h-4">
                        <use href="#chevron-left"></use>
                    </svg>
                </li>
                <li class="flex items-center gap-x-2">
                    <a href="{% url 'products:shop' %}"> فروشگاه</a>
                    <svg class="w-4 h-4">
                        <use href="#chevron-left"></use>
                    </svg>
                </li>
                <li class="flex items-center gap-x-2">
                    جزییات محصول
                </li>
            </ul>
        </section>
        <!-- PRODUCT DETAILS SECTION -->
        <section
                class="flex flex-col lg:flex-row items-start gap-4 child:rounded-lg child:bg-white child:dark:bg-zinc-700 child:shadow child:p-4">
            <!-- IMAGE & INFO BOX Container -->
            <div class="w-full lg:w-3/4 flex flex-col gap-y-8 ">
                <!-- IMAGE & INFO BOX -->
                <div class="flex flex-col lg:flex-row gap-5">
                    <!-- SLIDER & ACTION BTN  -->
                    <div class="flex  lg:w-96 flex-col gap-y-4">
                        <!-- ACTION BTN -->
                        <div class="flex items-center gap-x-3 mr-2">
                        </div>
                        <!-- SLIDER -->
                        <div class="swiper mt-2 w-full porduct-details-slider rounded-lg">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="{{ products.image.url }}"
                                         class="rounded-lg shadow w-full  object-cover lg:w-96 lg:h-fit" alt="">
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <!-- INFO (TITLE , NAME , ...) -->
                    <div class="flex flex-col gap-y-4 w-full">
                        <!-- NAME -->
                        <div class="flex items-start justify-between border-b border-b-gray-200 py-2">
                            <div class="flex flex-col gap-y-1">
                                <h3 class="text-2xl font-MorabbaMedium">{{ products.name }}</h3>
                            </div>

                        </div>
                        <div class="flex gap-x-1 text-gray-400 ">
                            <svg class="w-5 h-5">
                                <use href="#list-bullet"></use>
                            </svg>
                            <p>دسته‌بندی : دانه اسپرسو</p>
                        </div>

                        <p class="mt-2 font-DanaMedium">ویژگی های محصول :</p>
                        <div
                                class="grid grid-cols-12 gap-4 child:col-span-12 xl:child:col-span-6 child:dark:bg-zinc-800 child:bg-gray-100 child:h-12 child:rounded-lg child:text-sm child:flex child:items-center child:justify-center">
                            <div>
                                <p class="text-zinc-600 dark:text-gray-400">گونه :{{ products.breed }}</p>
                            </div>
                            <div>
                                <p class="text-zinc-600 dark:text-gray-400">
                                    میزان کافئین : {{ products.caffeine_value }}
                                </p>
                            </div>
                            <div>
                                <p class="text-zinc-600 dark:text-gray-400">
                                    خاستگاه : {{ products.birthplace }}
                                </p>

                            </div>
                            <div>
                                <p class="text-zinc-600 dark:text-gray-400">مواد تشکیل‌دهنده
                                    : {{ products.make_with }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                        class="lg:mr-2 grid grid-cols-12 child:col-span-6 xl:child:col-span-3 gap-x-1 gap-y-2 lg:gap-4 child:border child:text-gray-400 child:dark:border-white/20 child:border-gray-200 child:rounded-lg child:h-12  child:p-2 child:flex child:items-center child:gap-x-1 lg:child:gap-x-2 child:text-sm lg:text-base">
                    <span>
                        <svg class="w-4 h-4 lg:w-6 lg:h-6">
                            <use href="#arrow-path-rounded-square"></use>
                        </svg>
                        <p>ضمانت بازگشت کالا</p>
                    </span>
                    <span>
                        <svg class="w-4 h-4 lg:w-6 lg:h-6">
                            <use href="#check-badge"></use>
                        </svg>
                        <p>
                            تضمین اصالت کالا
                        </p>
                    </span>
                    <span>
                        <svg class="w-4 h-4 lg:w-6 lg:h-6">
                            <use href="#calender-day"></use>
                        </svg>
                        <p>پشتیبانی کل هفته</p>
                    </span>
                    <span>
                        <svg class="w-4 h-4 lg:w-6 lg:h-6">
                            <use href="#truke"></use>
                        </svg>
                        <p>ارسال به سراسر ایران </p>
                    </span>
                </div>
                <div class="lg:mr-2">
                    <h2 class="font-MorabbaMedium text-2xl pb-1 mb-2 ">معرفی محصول
                    </h2>
                    <p class="leading-10 text-gray-600 dark:text-gray-300">
                        {{ products.description }}
                    </p>
                </div>
            </div>
            <!-- PRICE & ADD TO CART BOX -->
            <div class="w-full lg:w-1/4 lg:sticky top-5 flex flex-col gap-y-6">
                <!-- PRICE -->
                <div class="flex items-center gap-x-1">
                    <p class="text-2xl font-DanaDemiBold" id="unitPrice"
                       data-price="{{ products.discount_price |floatformat | intcomma }}">
                        {{ products.discount_price | floatformat | intcomma }}
                    </p>
                    <p>تومان</p>
                </div>

                <!-- تعداد -->
                <button
                        class="w-full flex items-center justify-between gap-x-1 rounded-lg border border-gray-200 dark:border-white/20 py-2 px-3">
                    <svg class="w-6 h-6 increment text-green-600">
                        <use href="#plus"></use>
                    </svg>
                    <input type="number" name="customInput" id="customInput" min="1" max="20" value="1"
                           class="custom-input mr-4 text-lg bg-transparent">
                    <svg class="w-6 h-6 decrement text-red-500">
                        <use href="#minus"></use>
                    </svg>
                </button>

                <!-- مجموع خرید -->
                <button
                        class="w-full flex items-center gap-x-1 justify-between dark:bg-zinc-800 dark:text-gray-400  bg-gray-100 transition-all rounded-lg py-2 px-2 xl:px-3 font-DanaMedium text-sm xl:text-base">
                    <p>مجموع خرید :</p>
                    <p id="totalPrice"> {{ products.discount_price|floatformat|intcomma }} تومان</p>
                </button>


                <div class="text-sm  text-gray-400 flex xl:items-center gap-x-1">
                    <svg class="w-5 h-5">
                        <use href="#info"></use>
                    </svg>
                    <p>ارسال رایگان برای خریدهای بالای 400 هزار تومان</p>
                </div>
            </div>
        </section>
        <!-- COMMENTS -->
        <section class="w-full rounded-lg bg-white dark:bg-zinc-700 shadow p-5">
            <div class="flex items-center gap-x-2 mb-6">
                <h2 class="font-MorabbaMedium text-2xl ">
                    دیدگاه ها
                </h2>
                <p class="text-sm text-blue-500">
                    ({{ products.comments.count }} دیدگاه)
                </p>
            </div>

            <div class="flex flex-col lg:flex-row items-start gap-10">
                <!-- SUBMIT COMMENT -->
                {% if request.user.is_authenticated %}
                    <div class="lg:w-1/4 flex flex-col w-full ">
                        <form method="post" enctype="multipart/form-data" name="comment_form">
                            {% csrf_token %}
                            <p class="font-DanaMedium text-lg mb-2">ثبت دیدگاه</p>
                            <input type="text" placeholder="عنوان" class="tailwind-input" name="title" id="title">
                            <br>
                            <textarea class="h-24 tailwind-input" placeholder="متن دیدگاه" name="body"
                                      id="body"></textarea>
                            <button class="send-button">
                                <div class="svg-wrapper-1">
                                    <div class="svg-wrapper">
                                        <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 24 24"
                                                width="24"
                                                height="24"
                                        >
                                            <path fill="none" d="M0 0h24v24H0z"></path>
                                            <path
                                                    fill="currentColor"
                                                    d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                                            ></path>
                                        </svg>
                                    </div>
                                </div>
                                <span>ثبت نظر</span>
                            </button>

                        </form>
                    </div>
                {% else %}
                    <div>
                        <p class="auth-message">
                            برای ارسال نظر باید ابتدا وارد حساب کاربری خود شوید یا ثبت نام کنید.
                        </p>
                        <div class="auth-links-wrapper">
                            <a href="{% url 'account:login' %}" class="auth-link login">
                                ورود به حساب کاربری
                            </a>
                            <a href="{% url 'account:register' %}" class="auth-link register">
                                ثبت نام
                            </a>
                        </div>
                    </div>
                {% endif %}
                <!-- ALL COMMENTS -->
                <ul class="lg:w-3/4 flex flex-col gap-y-2 child:w-full  ">
                    <!-- COMMENT ITEMS -->
                    {% for comment in products.comments.all %}
                        <li class="child:flex py-4 border-b border-gray-200 child:border-white/20">
                            <!-- TITLE -->
                            <div class="flex items-center gap-x-2">
                                <h2 class="font-DanaMedium text-lg mb-1">{{ comment.title }}</h2>
                                <span class="px-2 py-1 mb-2 rounded-lg bg-green-500 text-white text-xs">خریدار</span>
                            </div>
                            <!-- COOMENT TEXT -->
                            <div class="flex-col">
                                <br/>
                                <p class="text-gray-500 dark:text-gray-200 mb-2 line-clamp-2">{{ comment.body }}</p>
                            </div>
                            <!-- COMMENT FOOTER -->
                            <div class="mt-2 lg:mt-0 flex-col lg:flex-row gap-y-2 lg:items-center justify-between">
                                <div class="flex items-center gap-x-4 text-gray-400 text-sm">
                                    <p>{{ comment.created_at }}</p>
                                    <p>{{ comment.user.username }}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </main>
{% endblock %}
{% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const input = document.getElementById("customInput");
            const totalPrice = document.getElementById("totalPrice");
            const unitPrice = parseInt(document.getElementById("unitPrice").dataset.price);

            function formatNumber(num) {
                return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }

            function updateTotal() {
                const count = parseInt(input.value) || 1;
                const total = count * unitPrice;
                totalPrice.innerText = formatNumber(total) + " تومان";
            }

            input.addEventListener("change", updateTotal);
            input.addEventListener("input", updateTotal);

            document.querySelector(".increment").addEventListener("click", function () {
                if (input.value < 20) {
                    input.value = parseInt(input.value) + 1;
                    updateTotal();
                }
            });

            document.querySelector(".decrement").addEventListener("click", function () {
                if (input.value > 1) {
                    input.value = parseInt(input.value) - 1;
                    updateTotal();
                }
            });

            updateTotal(); // محاسبه اولیه
        });
    </script>

{% endblock %}


